nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 10px;
    height: 52px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav a {
    background-color: black;
    color: inherit;
    text-align: center;
    text-decoration: none;
    display: flex;
}

.nav-element {
    padding: 14px 16px;
}

.nav-element:hover {
    background-color: #111111;
}

nav a.active {
    background-color: #04AA6D;
}

.nestednav-hide {
    display: none;
}

.nestednav-show {
    display:block;
}