nav {
    width: 100%;
    background-color: black;
    padding: 0;
    margin: 0;
}

nav ul{
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul a {
    color: white;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul a:hover {
    background-color: #111111;
}

nav ul a.active {
    background-color: #04AA6D;
}